on: 
  push:
    branches: [ master ]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      signing.keyId: ${{ secrets.NEXUS_GPC_KEY_ID }}
      signing.password: ${{ secrets.NEXUS_GPC_PASSWORD }}
      signing.key: ${{ secrets.NEXUS_GPC_KEY }}
      ossrhUsername: ${{ secrets.NEXUS_USERNAME }}
      ossrhPassword: ${{ secrets.NEXUS_PASSWORD }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 8
        cache: gradle
        
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    
    - name: Execute Gradle build
      run: ./gradlew clean build

    - name: Publish SDK
      run: ./gradlew android-sdk:uploadArchives