on: 
  push:
    branches: [ master ]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 8
        cache: gradle
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v4
      with:
        gpg_private_key: ${{ secrets.GPG_SECRET }}
        passphrase: ${{ secrets.NEXUS_GPC_PASSWORD }}
    - name: List keys
      run: gpg --list-secret-keys
    - name: Set Gradle Properties
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
      shell: bash
      run: |
        mkdir -p ~/.gradle/
        echo ${GRADLE_PROPERTIES} > ~/.gradle/gradle.properties
    - name: Execute Gradle build
      run: ./gradlew clean build
    - name: Publish SDK
      run: ./gradlew android-sdk:uploadArchives