on: 
  push:
    branches: [ master ]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    env:
      key_id: not-set
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 8
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Create GPG Keys
      run: |
        cat << 'EOF' > relevant-gpg
           %echo Generating a basic OpenPGP key
           Key-Type: default
           Key-Length: 4096
           Name-Real: ${{ secrets.NEXUS_USERNAME }}
           Name-Comment: Relevant Box
           Name-Email: developer@relevantbox.io
           Expire-Date: 0
           Passphrase: ${{ secrets.NEXUS_GPC_PASSWORD }}
           # Do a commit here, so that we can later print "done" :-)
           %commit
           %echo done
        EOF
        gpg --batch --generate-key relevant-gpg
        gpg --batch --pinentry-mode=loopback --yes --passphrase ${{ secrets.NEXUS_GPC_PASSWORD }} --export-secret-key > ~/.gnupg/secring.gpg
        key_id_long=`gpg --list-keys --keyid-format SHORT --with-colons --with-fingerprint | awk -F: 'NR==3{print $10}'`
        key_id=`gpg --list-keys --keyid-format SHORT --with-colons --with-fingerprint | awk -F: 'NR==3{print $10}' | tail -c 9`
        gpg --keyserver keyserver.ubuntu.com --send-keys key_id_long
        echo "key_id=$key_id" >> $GITHUB_ENV
        gpg --list-secret-keys
        ls -la /home/runner/.gnupg/
    - name: Set Gradle Properties
      shell: bash
      run: |
        mkdir -p ~/.gradle/
        cat << 'EOF' > ~/.gradle/gradle.properties
        signing.keyId=${{ env.key_id }}
        signing.password=${{ secrets.NEXUS_GPC_PASSWORD }}
        nexusUsername=${{ secrets.NEXUS_USERNAME }}
        nexusPassword=${{ secrets.NEXUS_PASSWORD }}
        EOF
    - name: Execute Gradle build
      run: ./gradlew clean build
    - name: Publish SDK
      run: ./gradlew android-sdk:uploadArchives