on: 
  push:
    branches: [ master ]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 8
        gpg-private-key: ${{ secrets.GPG_SECRET }}
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 5.6.4
    - name: Create GPG Keys
      run: |
        cat << 'EOF' > relevant-gpg
           %echo Generating a basic OpenPGP key
           Key-Type: default
           Key-Length: 4096
           Name-Real: yadiguzel
           Name-Comment: with passphrase
           Name-Email: developer@relevantbox.io
           Expire-Date: 0
           Passphrase: ${{ secrets.NEXUS_GPC_PASSWORD }}
           # Do a commit here, so that we can later print "done" :-)
           %commit
           %echo done
        EOF
        gpg --batch --generate-key relevant-gpg
        gpg --list-secret-keys
    - name: List keys
      run: |
        ls -la /home/runner/.gnupg/
    - name: Set Gradle Properties
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
      shell: bash
      run: |
        mkdir -p ~/.gradle/
        echo ${GRADLE_PROPERTIES} > ~/.gradle/gradle.properties
    - name: Execute Gradle build
      run: ./gradlew clean build
    - name: Publish SDK
      run: ./gradlew android-sdk:uploadArchives